header.container-fluid.p-3.bg-dark
  .row
    button.btn.btn-primary.mx-auto#create-note Create Note
    button.btn.btn-success.mx-auto#create-list Create List
    button.btn.btn-danger.mx-auto#delete-all Delete All
