html
    include ../partials/head.pug
    body
        include ../partials/block/menu.pug
        each note in notelist
            if note.title
                if note.description
                    include ../partials/block/note.pug
                        include ../partials/block/deletebutton.pug
                else
                    include ../partials/block/list.pug
                        include ../partials/block/deletebutton.pug

        include ../partials/footer.pug
        
