html
    include ../partials/head.pug

    body(class="bg-secondary h-100")
        div(class="container w-100 pt-3")
            div(class="form-group w-90")
                input(type="text" class="form-control" placeholder="Введите заголовок..." id="inputTitle")
            div(class="form-group w-90" id="tasksContainer")
                input(type="text" class="form-control task" placeholder="Введите задачу...")
            div(class="form-group text-center")
                button(type="button" class="btn btn-dark mr-3" id="add-task-btn") Add task
                button(type="button" class="btn btn-dark" id="save-button") Create
        include ../partials/footerList.pug