html
    include ../partials/head
    
    body(class="bg-info h-100")
        div(class="container w-100 pt-3")
            div(class="form-group w-90")
                input(type="text" class="form-control" placeholder="Введите заголовок..." id="inputDefault" value=`${title}`) 
            div(class="form-group w-90")
                textarea(class="form-control" id="exampleTextarea" rows="3"
                style="margin-top: 0px; margin-bottom: 0px; height: 160px;" placeholder="Заметка..." ) #{description}
            div(class="text-center")
                button(type="button" class="btn btn-dark mr-3" id="edit-button") Edit
                button(type="button" class="btn btn-dark" id="delete-button") Delete
        include ../partials/footerDetailNote
        